.benefits__list {
    @include tablet-up {
        display: flex;
        flex-wrap: wrap;
        gap: 30px;
    }

    @include desktop-up {
        flex-wrap: nowrap;
    }
}

.benefits__item {
    @include tablet-up {
        flex-basis: calc((100% - 30px) / 2);
    }

    @include desktop-up {
        flex-basis: calc((100% - 90px) / 4);
    }

    &:not(:last-child) {
        @include mobile-only {
            margin-bottom: 30px;
        }
    }
}

.benefits__thumb {
    @include flex;
    height: 120px;
    margin-bottom: 30px;

    background-color: $bg-grey;
    border-radius: $border-radius;
}

.benefits__title {
    margin-top: 0;
    margin-bottom: 10px;

    color: $color-title;
    font-weight: 700;
    font-size: 14px;
    line-height: 1.14;
    text-transform: uppercase;

    @include mobile-only {
        text-align: center;
    }
}

.benefits__copy {
    line-height: 1.71;
}