.benefits__list {

    @include desktop-up {
        display: flex;
        gap: 30px;
    }
}

.benefits__item:not(:last-child) {
    @include mobile-only {
        margin-bottom: 30px;
    }
}

.benefits__thumb {

    @include flex;
    width: 100%;
    height: 120px;
    margin-bottom: 30px;

    background-color: $bg-grey;
    border-radius: $border-radius;

    @include desktop-up {
        width: 270px;
    }
}

.benefits__title {
    margin-top: 0;
    margin-bottom: 10px;

    color: $color-title;
    font-weight: 700;
    font-size: 14px;
    line-height: 1.14;
    text-transform: uppercase;

    @include mobile-only {
        text-align: center;
    }
}

.benefits__copy {
    line-height: 1.71;
}