.clients__list {
    @include flex;
    flex-wrap: wrap;
    gap: 30px;

    @include desktop-up {
        flex-wrap: nowrap;
    }
}

.clients__item {
    flex-basis: calc((100% - 30px) / 2);

    @include tablet-up {
        flex-basis: calc((100% - 60px) / 3);
    }

    @include desktop-up {
        flex-basis: calc((100% - 150px) / 6);
    }
}

.clients__link {
    @include flex;
    height: 92px;

    fill: $color-icon;
    border: 1px solid $color-icon;
    border-radius: $border-radius;

    transition: fill $transition-time $cubic-bezier, border-color $transition-time $cubic-bezier;

    &:hover,
    &:focus {
        fill: $color-accent;
        border-color: $color-accent;
    }
}
