.filters {
    @include flex($justify: flex-start);
    flex-wrap: wrap;
    row-gap: 15px;
    column-gap: 8px;
    margin-bottom: 40px;

    @include tablet-up {
        justify-content: center;
        flex-wrap: wrap;
        margin-bottom: 30px;
    }

    @include desktop-up {
        margin-bottom: 50px;
    }
}

.portfolio__list {

    @include tablet-up {
        display: flex;
        flex-wrap: wrap;
        gap: 30px;
    }
}

.portfolio__card {
    @include mobile-only {
        margin-bottom: 30px;
    }

    @include tablet-up {
        flex-basis: calc((100% - 30px) / 2);
    }

    @include desktop-up {
        flex-basis: calc((100% - 60px) / 3);
    }
}

.portfolio__link {
    display: flex;
    flex-direction: column;
    height: 100%;

    color: inherit;
    text-decoration: none;

    transition: box-shadow $transition-time $cubic-bezier;

    &:hover,
    &:focus {
        box-shadow: 0px 1px 1px rgb(0 0 0 / 0.12), 0px 4px 4px rgb(0 0 0 / 0.06),
            1px 4px 6px rgb(0 0 0 / 0.16);
    }
}

.portfolio__thumb {
    position: relative;
    overflow: hidden;
}

.portfolio__copy {
    position: absolute;
    top: 0;
    bottom: 0;

    padding: 63px 24px;

    color: $color-white;
    font-size: 18px;
    line-height: 1.56;

    background-color: $bg-overlay-accent;

    transform: translateY(100%);
    transition: transform $transition-time $cubic-bezier;

    .portfolio__link:hover &,
    .portfolio__link:focus & {
        transform: translateY(0);
    }
}

.portfolio__header {
    flex-grow: 1;
    padding: 20px 24px;

    border: 1px solid $color-border-portfolio;
    border-top: 0;
}

.portfolio__title {
    margin-top: 0;
    margin-bottom: 4px;

    color: $color-title;
    font-weight: 700;
    font-size: 18px;
    line-height: 2;
    letter-spacing: 0.06em;
}

.portfolio__text {
    font-size: 16px;
    line-height: 1.88;
}