$color-text-primary: #757575;
$color-title: #212121;
$color-accent: #2196f3;
$color-accent-active: #188ce8;
$color-contact-footer: rgb(255 255 255 / 0.6);
$color-placeholder: rgb(117 117 117 / 0.5);
$color-icon: #afb1b8;

$color-white: #fff;
$color-black: #000;

$color-border-header: #ececec;
$color-border-portfolio: #eee;
$color-border-close: rgb(0 0 0 / 0.1);
$color-border-callback: rgb(33 33 33 / 0.2);

$bg-overlay-hero: rgb(47 48 58 / 0.4);
$bg-overlay-accent: rgb(33 150 243 / 0.9);
$bg-overlay-doings: rgb(47 48 58 / 0.8);
$bg-grey: #f5f4fa;
$bg-darkgrey: #2f303a;
$bg-socials-footer: rgb(255 255 255 / 0.1);
$bg-backdrop: rgb(0 0 0 / 0.2);

$border-radius: 4px;

$transition-time: 250ms;
$cubic-bezier: cubic-bezier(0.4, 0, 0.2, 1);